*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding-top: 150px;
    
    font-family: sans-serif;
}
#searchbox{
    width: 50%;
    margin: auto;
}
#searchbox input,button{
    width: 75%;
    border:2px solid rgb(15, 15, 15);
    font-size: 18px;
    padding:12px;
    
}
#searchbox button{
    width: 25%;
    float:right;
    border-left: 0px;
}
#food-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
#food-container img{
    width:300px;
}